hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.rodape__titulo {
    font-size: 16px;
    font-weight: 400;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
        
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodape__link {
        text-decoration: none;
        color: #474646;
        margin-left: 0.6em;
    }

    .lista-rodape__titulo {
        font-size: 14px;
        color: #858585;
    }

    .rodape__titulo {
        font-size: 24px;
    }


}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid #474646;
        padding-left: 1em;
    }

    .rodape {
        padding: 3em 0;
    }
}